@{
	ViewBag.Title = "Home Index";
}

<h2>Home Index</h2>

<img src="@Url.Content("~/Home/Content/EmbeddedImage.gif")" alt="Embedded Image" />

<script src="@Url.Content("~/Home/Scripts/EmbeddedScript.js")" type="text/javascript"></script>
